<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Adding</title>
</head>
<body>
	<tr th:each="film: ${listOfFilms}">
			<br>
			<span th:text="${film.id}"></span>
			<span th:text="${film.nameOfFilm}"></span>
			<span th:text="${film.date}"></span>
			<img th:src="${film.image}" height="150" widgth="150">
			<br>
		</tr>
		
	<form  method="post" th:action="@{/addFilm}">
	<input type="text" th:value="${film.nameOfFilm}" name="nameOfFilm" roleId="nameOfFilm"  placeholder="Enter Name of film" required="required"/>
	<br>
	<span>HH.MM.SS</span>
	<br>
	<input type="text" th:value="${film.time}" pattern="(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2}"
	 name="time" roleId="time"  placeholder="time" required="required"/>
	<br>
	<span>DD.MM.YYYY</span> <br>
	<input type="text" th:value="${film.date}" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
			name="date" roleId="date"  placeholder="date" required="required"/>
	<br>
	<input type="text" th:value="${film.image}" name="image" roleId="image"  placeholder="Enter url for Foto" required="required"/>
	<button type="submit">Add film</button>
</form>

</body>
</html>
